extends ../layout

block content

  h1= title

  p
    a.button(href='/books/new') Create New Book
    input(id="searchBar" type="text" name="search" placeholder="Search for a Book on this page...")

  p(style="margin-top: 40px;") <strong>Filters:</strong>
    | &nbsp;
    a(href='/books/page/1') All
    | &nbsp; | &nbsp;
    a(href='/books/page/1?filter=overdue') Overdue
    | &nbsp; | &nbsp;
    a(href='/books/page/1?filter=checked_out') Checked Out

  p#total-items(style="margin-top: 0;") <strong>Total Items:</strong>
    | &nbsp;
    span#page-count= count
  table(style="margin-top: 30px;")
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
      each book in books
        tr
          td
            a(href='/books/' + book.id)= book.title
          td= book.author
          td= book.genre
          td= book.first_published

  p#pagination(style="margin-top: 40px;")
